//Colors - Primary
$OrderBG: hsl(225, 100%, 94%);
$PayBtn: hsl(245, 75%, 52%);
//Colors - Neutrals
$PlanBG: hsl(225, 100%, 98%);
$Text: hsl(224, 23%, 55%);
$ChangeTxt:hsl(223, 47%, 23%);

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: $OrderBG;
    #challange_content{
        padding: 0;
        #order-container{
            width: 90%;
            padding: 0;
            background-color: white;
            border-radius: 15px;
            #order-image{
                padding: 0;
                picture{
                    img{
                        width: 100%;
                        border-radius: 15px 15px 0 0;
                    }
                }
            }
            #order-text{
                #order-text_header{
                    padding: 10% 0 4% 0;
                    h1{
                        font-family: "Red Hat Display";
                        font-weight: 900;
                        text-align: center;
                        font-size: 23px;
                    }
                }
                #order-text_desc{
                    padding: 0 7%;
                    
                    p{
                        margin: 0;
                        font-family: "Red Hat Display";
                        font-weight: 500;
                        text-align: center;
                        font-size: 16px;
                        line-height: 165%;
                        color: $Text;
                    }
                }
                #order-text_plan{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: "Red Hat Display";
                    padding: 6%;
                    margin: 7% 0;
                    background-color: $PlanBG;
                    border-radius: 10px;
                    #order-text_plan_info{
                        padding-left: 1.25em;
                        p{
                            
                            font-size: 14px;
                            margin: 0%;
                        }
                        p:first-child{
                            font-weight: 700;
                        }
                        p:last-child{
                            color: $Text;
                            
                        }
                        
                    }
                    a{
                        margin: 0%;
                        font-weight: 700;
                        font-size: 14px;
                        color: $PayBtn;
                    }
                }
            }
            #order-buttons{
                #order-buttons_pay{
                    button{
                        width: 100%;
                        background-color: $PayBtn;
                        p{
                            margin: 0%;
                            padding: 3% 0;
                            font-family: "Red Hat Display";
                            font-weight: 900;
                            font-size: 14px;
                            color: white;
                        }
                    }
                }
                #order-buttons_cancel{
                    button{
                        width: 100%;
                        background-color: white;
                        p{
                            margin: 0%;
                            padding: 5% 0;
                            font-family: "Red Hat Display";
                            font-weight: 900;
                            font-size: 14px;
                            color: $Text;
                        }
                    }
                    padding-bottom: 5%;
                }
            }
        }
    }
}

@media screen and (min-width:450px) {
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: repeat-x;
        //background-color: $OrderBG;
        #challange_content{
            padding: 0;
            #order-container{
                width: 400px;
                padding: 0;
                background-color: white;
                border-radius: 15px;
                #order-image{
                    padding: 0;
                    picture{
                        img{
                            width: 100%;
                            border-radius: 15px 15px 0 0;
                        }
                    }
                }
                #order-text{
                    #order-text_header{
                        padding: 10% 0 4% 0;
                        h1{
                            font-family: "Red Hat Display";
                            font-weight: 900;
                            text-align: center;
                            font-size: 23px;
                        }
                    }
                    #order-text_desc{
                        padding: 0 7%;
                        
                        p{
                            margin: 0;
                            font-family: "Red Hat Display";
                            font-weight: 500;
                            text-align: center;
                            font-size: 16px;
                            line-height: 165%;
                            color: $Text;
                        }
                    }
                    #order-text_plan{
                        width: auto;
                        flex-direction: row;
                        align-items: center;
                        font-family: "Red Hat Display";
                        padding: 6%;
                        margin: 9% 3%;
                        background-color: $PlanBG;
                        border-radius: 10px;
                        #order-text_plan_info{
                            padding-left: 1.25em;
                            p{
                                
                                font-size: 14px;
                                margin: 0%;
                            }
                            p:first-child{
                                font-weight: 700;
                            }
                            p:last-child{
                                color: $Text;
                                
                            }
                            
                        }
                        a{
                            margin: 0%;
                            font-weight: 700;
                            font-size: 14px;
                            color: $PayBtn;
                        }
                        a:hover{
                            color: rgb(118,108,241);
                            cursor: pointer;
                        }
                    }
                }
                #order-buttons{
                    #order-buttons_pay{
                        button{
                            width: 100%;
                            background-color: $PayBtn;
                            p{
                                margin: 0%;
                                padding: 3% 0;
                                font-family: "Red Hat Display";
                                font-weight: 900;
                                font-size: 14px;
                                color: white;
                            }
                        }
                        button:hover{
                            background-color: rgb(118,108,241);
                            cursor: pointer;
                            border: none;
                        }
                    }
                    #order-buttons_cancel{
                        button{
                            width: 100%;
                            background-color: white;
                            p{
                                margin: 0%;
                                padding: 5% 0;
                                font-family: "Red Hat Display";
                                font-weight: 900;
                                font-size: 14px;
                                color: $Text;
                            }
                        }
                        button:hover{
                            cursor: pointer;
                            border: none;
                            
                        }
                        padding-bottom: 5%;
                    }
                }
            }
        }
    }
}