//Color-Primary
$MainBG: hsl(233, 47%, 7%);
$CardBG: hsl(244, 38%, 16%);
$Accent: hsl(277, 64%, 61%);
//Color-Neutrals
$White: hsl(0, 0%, 100%);
$MainP: hsl(244, 38%, 16%);
$StatH: hsl(277, 64%, 61%);
#stats-header{
    padding: 0;
    background-color: $Accent;
    border-radius: 5px 5px 0 0;
    picture{
        img{
            width: 100%;
            border-radius: 5px 5px 0 0;
            opacity: .5;
        };
    };
};

@media screen and (min-width:450px) {
    #stats-header{
        border-radius: 0 5px 5px 0;
    };
  }